@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/*Tailwind CSS does the normalization and s*/
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* .logo h2 {
  font-family: 'Helvetica Neue', 'Shrikhand', cursive;
} */

.newBorder {
  border-bottom: 1px solid #4d618e;
}

.Navbar__Link-toggle {
  position: absolute;
  background: #fff;
  width: 80%;
  color: black;
  padding: 15px;
  border-radius: 2%;
  font-size: 1.2rem;
  top: 15%;
  right: 10%;
  cursor: pointer;
  z-index: 99999;
}
.Navbar__Link-toggle > * {
  padding: 5px 10px;
  color: black;
}
body {
  background: #edf6ff;
}
.home .img {
  height: 400px;
}
.home {
  padding-bottom: 100px !important;
}
/*This are custom classes for easy use on common components like button error message*/
.error {
  @apply text-red-500 font-semibold;
}
.button {
  @apply mt-3 text-lg font-semibold bg-blue-lightBlue  text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-blue-dark;
  -webkit-appearance: none;
}
.pageNumbers {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.pageNumbers li {
  padding: 10px 20px;
  margin: 2px;
  border: 1px solid #000;
  background: #d9efff;
  color: #303f60;
  cursor: pointer;
  border-radius: 5px;
}
.pageNumbers li:hover {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
/* .pageNumbers li.active{
  background: white;


  
} */
@media screen and (max-width: 500px) {
  .pageNumbers li {
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid #000;
    cursor: pointer;
  }
}
/*this style I am using for truncating the lines of Job Cards*/
.multi-line-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
